accelerate==0.26.1
-e git+https://github.com/langchain-ai/opengpts.git@a3db92222c639e713875e4d35e1513b39e7ec1e9#egg=agent_executor&subdirectory=backend/packages/agent-executor
aiofiles==23.2.1
anthropic==0.3.11
appdirs==1.4.4
applescript==2021.2.9
appnope==0.1.0
appscript==1.1.0
APScheduler==3.8.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
arxiv==2.0.0
asgi-csrf==0.9
asgiref==3.7.2
astroid==2.11.3
async-generator==1.10
async-timeout==4.0.2
attrs==19.3.0
Automat==22.10.0
backcall==0.1.0
backoff==2.2.1
backports.zoneinfo==0.2.1
bibtexparser==1.4.0
bidict==0.22.1
black==22.3.0
bleach==3.1.4
blis==0.4.1
boto3==1.33.13
Brotli==1.1.0
browser-cookie3==0.19.1
cachetools==5.3.1
catalogue==1.0.0
certifi==2022.5.18.1
cffi==1.14.1
chainforge==0.2.6
chardet==3.0.4
citeproc-py==0.6.0
Click==7.0
click-default-group-wheel==1.2.2
click-didyoumean==0.3.0
cloudpickle==2.2.1
constantly==23.10.4
contextlib2==21.6.0
coverage==6.3.2
cryptography==41.0.5
cssselect==1.2.0
curl-cffi==0.5.10
cycler==0.10.0
cymem==2.0.3
dalaipy==2.0.2
dataclasses-json==0.6.3
datasette==0.64.3
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.14
diff-match-patch-python==1.0.2
diffusers==0.25.1
dill==0.3.4
diophila==0.4.0
diskcache==5.6.3
Django==4.2.6
duckduckgo-search==3.9.11
elastic-transport==8.10.0
elasticsearch==8.10.1
emoji==2.9.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fastask==0.3.6
feedparser==6.0.10
ffmpeg-python==0.2.0
filetype==1.2.0
fsspec==2023.12.2
future==0.18.2
fuzzysearch==0.7.3
fuzzywuzzy==0.18.0
geocoder==1.38.1
gitdb==4.0.11
GitPython==3.1.40
-e git+https://github.com/langchain-ai/opengpts.git@a3db92222c639e713875e4d35e1513b39e7ec1e9#egg=gizmo_agent&subdirectory=backend/packages/gizmo-agent
google-ai-generativelanguage==0.1.0
google-api-core==2.11.1
google-auth==2.22.0
google-generativeai==0.1.0rc1
google-search-results==2.4.2
googleapis-common-protos==1.60.0
graphviz==0.14
greenlet==3.0.2
grpcio==1.57.0
grpcio-status==1.57.0
h2==4.1.0
hf_transfer==0.1.5
hpack==4.0.0
html2image==2.0.4.3
html5lib==1.1
httpx-sse==0.3.1
huggingface-hub==0.20.3
hupper==1.12
hyperframe==6.0.1
hyperlink==21.0.0
icdiff==1.9.1
import-ipynb==0.1.4
importlib-metadata==6.1.0
importlib-resources==6.1.1
incremental==22.10.0
iniconfig==1.1.1
install==1.3.4
ipykernel==5.2.0
ipynb==0.5.1
ipysheet==0.5.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itemadapter==0.8.0
itemloaders==1.1.0
janus==1.0.0
jedi==0.16.0
Jinja2==2.11.1
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyter-server==1.13.1
jupyterlab-widgets==1.0.2
kay==0.1.2
keyboard==0.13.5
kiwisolver==1.2.0
langchain==0.0.350
langchain-cli==0.0.19
langchain-community==0.0.2
langchain-core==0.1.0
langchain-experimental==0.0.37
langdetect==1.0.9
langserve==0.0.35
langsmith==0.0.69
latexcodec==2.0.1
lazy-object-proxy==1.4.3
limits==3.7.0
llama_cpp_python==0.2.28
llm-llama-cpp==0.3
llvmlite==0.41.1
lz4==4.3.2
Markdown==3.2.1
markdown2==2.4.10
MarkupSafe==1.1.1
marshmallow==3.20.1
matplotlib==3.2.1
mccabe==0.6.1
meilisearch==0.16.0
mergedeep==1.3.4
mistune==0.8.4
more-itertools==8.2.0
MouseInfo==0.1.3
murmurhash==1.0.2
mwparserfromhell==0.6.5
mypy==0.961
mypy-extensions==0.4.3
nbclassic==0.5.5
nbconvert==5.6.1
nbformat==5.0.5
nest-asyncio==1.5.4
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.2
numba==0.58.1
numpy==1.18.1
oauthlib==3.1.0
openai-whisper==20231106
openpyxl==3.0.9
orjson==3.9.10
pandoc==2.3
pandocfilters==1.4.2
panflute==2.3.0
parsel==1.8.1
parso==0.6.2
pathspec==0.9.0
pbr==5.6.0
pdf-diff==0.9.1
pdf2image==1.14.0
pdfkit==1.0.0
pdfminer==20191125
pdfminer.six==20221105
pdfplumber==0.10.2
pdfrw==0.4
permchain==0.0.8
pexpect==4.8.0
pick==2.2.0
pickleshare==0.7.5
Pillow==10.1.0
Pint==0.21.1
plac==1.1.3
plotly==5.8.0
plumbum==1.8.1
ply==3.11
preshed==3.0.2
prometheus-client==0.12.0
prometheus-fastapi-instrumentator==6.1.0
prompt-toolkit==3.0.5
proselint==0.13.0
Protego==0.3.0
proto-plus==1.22.3
protobuf==4.24.2
psutil==5.9.8
ptyprocess==0.6.0
Pweave==0.30.3
pwiki==0.0.1
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.53
pybtex==0.24.0
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.8
pycryptodomex==3.19.0
PyDispatcher==2.0.7
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.6.1
pyktok==0.0.18
pylint==2.13.7
PyMsgBox==1.0.9
pyobjc==8.0
pyobjc-core==8.0
pyobjc-framework-Accessibility==8.0
pyobjc-framework-Accounts==8.0
pyobjc-framework-AddressBook==8.0
pyobjc-framework-AdServices==8.0
pyobjc-framework-AdSupport==8.0
pyobjc-framework-AppleScriptKit==8.0
pyobjc-framework-AppleScriptObjC==8.0
pyobjc-framework-ApplicationServices==8.0
pyobjc-framework-AppTrackingTransparency==8.0
pyobjc-framework-AudioVideoBridging==8.0
pyobjc-framework-AuthenticationServices==8.0
pyobjc-framework-AutomaticAssessmentConfiguration==8.0
pyobjc-framework-Automator==8.0
pyobjc-framework-AVFoundation==8.0
pyobjc-framework-AVKit==8.0
pyobjc-framework-BusinessChat==8.0
pyobjc-framework-CalendarStore==8.0
pyobjc-framework-CallKit==8.0
pyobjc-framework-CFNetwork==8.0
pyobjc-framework-ClassKit==8.0
pyobjc-framework-CloudKit==8.0
pyobjc-framework-Cocoa==8.0
pyobjc-framework-Collaboration==8.0
pyobjc-framework-ColorSync==8.0
pyobjc-framework-Contacts==8.0
pyobjc-framework-ContactsUI==8.0
pyobjc-framework-CoreAudio==8.0
pyobjc-framework-CoreAudioKit==8.0
pyobjc-framework-CoreBluetooth==8.0
pyobjc-framework-CoreData==8.0
pyobjc-framework-CoreHaptics==8.0
pyobjc-framework-CoreLocation==8.0
pyobjc-framework-CoreMedia==8.0
pyobjc-framework-CoreMediaIO==8.0
pyobjc-framework-CoreMIDI==8.0
pyobjc-framework-CoreML==8.0
pyobjc-framework-CoreMotion==8.0
pyobjc-framework-CoreServices==8.0
pyobjc-framework-CoreSpotlight==8.0
pyobjc-framework-CoreText==8.0
pyobjc-framework-CoreWLAN==8.0
pyobjc-framework-CryptoTokenKit==8.0
pyobjc-framework-DeviceCheck==8.0
pyobjc-framework-DictionaryServices==8.0
pyobjc-framework-DiscRecording==8.0
pyobjc-framework-DiscRecordingUI==8.0
pyobjc-framework-DiskArbitration==8.0
pyobjc-framework-DVDPlayback==8.0
pyobjc-framework-EventKit==8.0
pyobjc-framework-ExceptionHandling==8.0
pyobjc-framework-ExecutionPolicy==8.0
pyobjc-framework-ExternalAccessory==8.0
pyobjc-framework-FileProvider==8.0
pyobjc-framework-FileProviderUI==8.0
pyobjc-framework-FinderSync==8.0
pyobjc-framework-FSEvents==8.0
pyobjc-framework-GameCenter==8.0
pyobjc-framework-GameController==8.0
pyobjc-framework-GameKit==8.0
pyobjc-framework-GameplayKit==8.0
pyobjc-framework-ImageCaptureCore==8.0
pyobjc-framework-IMServicePlugIn==8.0
pyobjc-framework-InputMethodKit==8.0
pyobjc-framework-InstallerPlugins==8.0
pyobjc-framework-InstantMessage==8.0
pyobjc-framework-Intents==8.0
pyobjc-framework-IOSurface==8.0
pyobjc-framework-iTunesLibrary==8.0
pyobjc-framework-KernelManagement==8.0
pyobjc-framework-LatentSemanticMapping==8.0
pyobjc-framework-LaunchServices==8.0
pyobjc-framework-libdispatch==8.0
pyobjc-framework-LinkPresentation==8.0
pyobjc-framework-LocalAuthentication==8.0
pyobjc-framework-MapKit==8.0
pyobjc-framework-MediaAccessibility==8.0
pyobjc-framework-MediaLibrary==8.0
pyobjc-framework-MediaPlayer==8.0
pyobjc-framework-MediaToolbox==8.0
pyobjc-framework-Metal==8.0
pyobjc-framework-MetalKit==8.0
pyobjc-framework-MetalPerformanceShaders==8.0
pyobjc-framework-MetalPerformanceShadersGraph==8.0
pyobjc-framework-MLCompute==8.0
pyobjc-framework-ModelIO==8.0
pyobjc-framework-MultipeerConnectivity==8.0
pyobjc-framework-NaturalLanguage==8.0
pyobjc-framework-NetFS==8.0
pyobjc-framework-Network==8.0
pyobjc-framework-NetworkExtension==8.0
pyobjc-framework-NotificationCenter==8.0
pyobjc-framework-OpenDirectory==8.0
pyobjc-framework-OSAKit==8.0
pyobjc-framework-OSLog==8.0
pyobjc-framework-PassKit==8.0
pyobjc-framework-PencilKit==8.0
pyobjc-framework-Photos==8.0
pyobjc-framework-PhotosUI==8.0
pyobjc-framework-PreferencePanes==8.0
pyobjc-framework-PushKit==8.0
pyobjc-framework-Quartz==8.0
pyobjc-framework-QuickLookThumbnailing==8.0
pyobjc-framework-ReplayKit==8.0
pyobjc-framework-SafariServices==8.0
pyobjc-framework-SceneKit==8.0
pyobjc-framework-ScreenSaver==8.0
pyobjc-framework-ScreenTime==8.0
pyobjc-framework-ScriptingBridge==8.0
pyobjc-framework-SearchKit==8.0
pyobjc-framework-Security==8.0
pyobjc-framework-SecurityFoundation==8.0
pyobjc-framework-SecurityInterface==8.0
pyobjc-framework-ServiceManagement==8.0
pyobjc-framework-Social==8.0
pyobjc-framework-SoundAnalysis==8.0
pyobjc-framework-Speech==8.0
pyobjc-framework-SpriteKit==8.0
pyobjc-framework-StoreKit==8.0
pyobjc-framework-SyncServices==8.0
pyobjc-framework-SystemConfiguration==8.0
pyobjc-framework-SystemExtensions==8.0
pyobjc-framework-UniformTypeIdentifiers==8.0
pyobjc-framework-UserNotifications==8.0
pyobjc-framework-UserNotificationsUI==8.0
pyobjc-framework-VideoSubscriberAccount==8.0
pyobjc-framework-VideoToolbox==8.0
pyobjc-framework-Virtualization==8.0
pyobjc-framework-Vision==8.0
pyobjc-framework-WebKit==8.0
pyOpenSSL==23.3.0
pypandoc==1.4
pyparsing==2.4.6
PyPDF2==3.0.1
pypdfium2==4.22.0
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.28
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.1.2
python-dateutil==2.8.1
python-docx==1.1.0
python-dotenv==0.13.0
python-engineio==4.6.1
python-iso639==2023.12.11
python-Levenshtein==0.12.0
python-magic==0.4.27
python-multipart==0.0.6
python-socketio==5.8.0
python-twitter==3.5
python-ulid==1.1.0
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywikibot==8.4.0
PyYAML==6.0
pyzmq==19.0.0
qtconsole==5.2.2
QtPy==1.11.3
queuelib==1.6.2
rapidfuzz==3.5.2
ratelim==0.1.6
readability-lxml==0.8.1
redis==5.0.1
regex==2022.9.13
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.0
rich==13.7.0
robotframework==6.0.2
robotframework-pythonlibcore==4.1.2
robotframework-seleniumlibrary==6.1.0
rsa==4.9
rubicon-objc==0.4.1
s3transfer==0.8.2
safetensors==0.4.2
scikit-learn==1.2.2
scipy==1.4.1
Scrapy==2.11.0
selenium==4.14.0
semanticscholar==0.3.1
Send2Trash==1.8.0
sentence-transformers==2.3.0
sentencepiece==0.1.99
service-identity==23.1.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.2.0
socksio==1.0.0
sortedcontainers==2.2.2
soupsieve==2.0
spacy==2.2.3
SQLAlchemy==2.0.23
sqlite-fts4==1.0.3
sqlite-utils==3.35
sqlparse==0.4.4
srsly==1.0.1
sse-starlette==1.8.2
starlette==0.26.1
stevedore==3.3.0
strip-tags==0.2
suggests @ git+https://github.com/gitronald/suggests@9109ae8e9f5fcfba1bff7cdfd0be42990edeebe7
tabulate==0.9.0
tavily-python==0.2.9
td-watson==2.1.0
tenacity==8.2.3
termcolor==1.1.0
terminado==0.12.1
testpath==0.4.4
thinc==7.3.1
threadpoolctl==3.1.0
tiktoken==0.5.1
tldextract==5.1.1
tokenize-rt==4.2.1
tokenizers==0.15.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
torch==1.12.1
tornado==6.1
tqdm==4.43.0
traitlets==4.3.3
transformers==4.37.2
trio==0.22.0
trio-websocket==0.10.2
twarc==1.7.5
tweepy==3.8.0
Twisted==22.10.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2021.5
tzlocal==4.1
unstructured==0.10.30
urllib3==1.26.6
uvicorn==0.23.2
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
w3lib==2.1.2
wasabi==0.6.0
wcwidth==0.1.8
webdriver-manager==4.0.1
webdrivermanager==0.10.0
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.2.3
whisper @ git+https://github.com/openai/whisper.git@e90b8fa7e845ae184ed9aa0babcf3cde6f16719e
widgetsnbextension==3.5.2
wikipedia==1.4.0
wrapt==1.11.2
wsproto==1.2.0
xmltodict==0.13.0
yamllint==1.26.3
yarl==1.8.2
youtube-dl==2021.12.17
zipp==3.15.0
zope.interface==6.1
